<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <title>Iniciar Sesión</title>

      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>
      <script type='text/javascript' src='../Resources/jquery-3.2.1.js'> </script>
      <script type="text/javascript" src="../Resources/jquery.min.js"></script>
    </head>

    <body>
      <div id="animacion" align="middle">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="700" height="700" id="svgimag">
  	       <image xlink:href="../Resources/puma_1.png" x="75" y="120" width="500" id="puma"/>
           <text x="350" y="600" font-family="Arial" font-size="50" navy text-anchor="middle">CARGANDO...</text>
        </svg>
        <script type="text/javascript">
          var puma = 0;
          $(document).ready(function(){
              setInterval(function(){
                puma++;
                $("#puma").attr("xlink:href","../Resources/puma_"+((puma%8)+1)+".png");
              },50);
            });
        </script>
      </div>
      <div id="body">
      <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
        <nav>
          <div class="nav-wrapper #e65100 orange darken-4">
            <a href="#" class="brand-logo center">ChatSpace®</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
            </ul>
          </div>
        </nav>

        <div class="parallax-container">
          <div class="parallax"><img src="../Resources/images/orange1.jpg"/></div>
                  <br/><br/>
                  <h1 class="center-align white-text" id="titulo1"><strong>Bienvenid@ a ChatSpace</strong></h1>
                  <div align="center">
                    <img src="../Resources/logo.svg" width="400"/>
                  </div>
                  <h4 class="center-align white-text"><strong>Inicio de Sesión</strong></h4>
        </div>
        <br/><br/><br/>
        <div class="row">
          <form class="col s12" id="formu">
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" class="validate" id='usu' required>
                <label for="usuario">Nombre de Usuario</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">vpn_key</i>
                <input type="password" class="validate" id='cont' required>
                <label for="contrasena">Contraseña</label>
              </div>
            </div>
            <div class="row" id="validacion" align="middle">
            </div>
            <br/>
            <div class="row" style="text-align:center;">
              <button class="btn waves-effect waves-light #e65100 orange darken-4" type="submit" id="submit">Iniciar Sesión
                <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </div>
        <br/><br/>
        <footer class="page-footer #e65100 orange darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12" align="middle">
                <h5 class="white-text">Just To Friends®</h5>
              </div>
              <div class="col l6 s12" align="middle">
                <img src="../Resources/logo2.svg" width="120" heigth="120"/>
              </div>
            </div>
          </div>
          <div class="footer-copyright #bf360c deep-orange darken-4">
            <div class="container">
              © 2017 Copyright Text
            </div>
          </div>
        </footer>
        <script type="text/javascript" src="../programs/sesion.js"></script>
    </body>
    </div>
    <div id="body2">
      <style>
      div h1
      {
        font-size:20px;
        display:inline;
        color:red;
      }
      div span
      {
        display:inline;
      }
      #pub
      {
        position:relative;
        top:40px;

      }
      #foot
      {
        position:relative;
        top:100px;
      }
      span p
      {
        position:absolute;
        left:350px;
        font-size:15px;
        display:inline;
      }
      </style>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
      <nav>
        <div class="nav-wrapper #e65100 orange darken-4">
          <a href="#" class="brand-logo left">ChatSpace®</a>
          <a href="#" id="nom2" class="brand-logo right"></a>
          <ul id="nav-mobile" class="left hide-on-med-and-down"></ul>
        </div>
      </nav>
      <nav>
        <div class="nav-wrapper">
          <form>
            <div class="input-field #b71c1c red darken-4">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>
      <br/><br/>
      <a class='dropdown-button btn #b71c1c red darken-4' href='#' data-activates='dropdown1'>VER PERFIL</a>
      <br/>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!"><i class="material-icons">account_circle</i><i class="material-icons">info</i></a></li>
        <li><a href="#!" id="nom"></a></li>
        <li class="divider"></li>
        <li><a href="#!"><i class="material-icons">supervisor_account</i>Amigos</a></li>
        <li><a href="#!"><i class="material-icons">email</i>Correo Electrónico</a></li>
        <li><a href="#!"><i class="material-icons">location_on</i>Domicilio</a></li>
        <li><a href="#!"><i class="material-icons">class</i>Estudios</a></li>
        <li><a href="#!"><i class="material-icons">queue_music</i>Pasatiempos</a></li>
        <li><a href="#!"><i class="material-icons">perm_contact_calendar</i>Fecha de nacimiento</a></li>
        <li><a href="#!"><i class="material-icons">settings</i>Configuraciones</a></li>
      </ul>
      <div id="todo">

      </div>
      <footer class="page-footer #e65100 orange darken-4">
        <div class="container">
          <div class="row">
            <div class="col l6 s12" align="middle">
              <h5 class="white-text">Just To Friends®</h5>
            </div>
            <div class="col l6 s12" align="middle">
              <img src="../Resources/logo2.svg" width="120" heigth="120"/>
            </div>
          </div>
        </div>
        <div class="footer-copyright #bf360c deep-orange darken-4">
          <div class="container">
            © 2017 Copyright Text
          </div>
        </div>
      </footer>
    <?php
for($a=1;$a<20;$a++)
    {
      $r="";
      $cnom="com".$a;
      $pnom=(isset($_POST[$cnom]))?$_POST[$cnom]:"";
      if($pnom!="")
      {
        echo "<h1 id='resol'>".$pnom."</h1>";
        $r=$a;
        $a=20;
      }
    }
?>
    <script>
          var aj="id";
            $.ajax(
              {
                  url:"publi2.php",
                  type:"POST",
                  data:
                  {
                    usu:aj
                  },
                  success:function(dato)
                  {
                    $("#todo").append(dato);
                  }
              });
            var com=$("#resol").attr();
            alert(com);
            function collapsible()
            {
                $(".collapsible").collapsible();
            }
    </script>
    <script type="text/javascript" src="../programs/principal.js"></script>
  </div>
</html>
